/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.bodybg {
	-fx-background-image: url('/newBG.jpg');
	-fx-background-size: 100% 100%;   
}

.gameMode {
	-fx-background-image: url('/background.jpg');
	-fx-background-size: 100% 100%;   
}

.menu-button {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #ff8800,
        radial-gradient(center 50% 50%, radius 100%, #ff8800, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

.menu-button:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}

.menu-button:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

.menu-button Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}


.card-pane:pressed {
	-fx-border-color: #ffee00; 
	-fx-border-width: 5;
}

